<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CHAT 1.0 Beta</title>
    <link rel="stylesheet" href="/chat.css">
</head>
<body>
<ul id="chat"></ul>
<form id="chat-form">
    <input type="text" placeholder=" Texto " required id="message-text" autocomplete="off">
    <input type="file" id="imagefile">
    <button>Enviar</button>
</form>

<script src="../socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/cliente_ajustador.js"></script>

</body>
</html>